@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Text:ital,wght@1,500&display=swap');

.container{
  width: 82%;
  margin-top: 150px;
  align-items: center;
}

.planemob{
  display: none;
}
.header{
  font-size: 45px;
  align-items: center;
  color: #ffff;
  font-family: 'Red Hat Text', sans-serif;
  margin-left: 50px;
}
.donation {
  position: absolute;
  top: 50%;
  left: 50%;
  right: 50%;
  transform: translateX(-50%) translateY(-50%);;
  z-index: 9999;
  height: min(70vh, 637px);
  width: min(90vw, 429px);
  border: none;
  border-radius: 8px;
}

.button{
  cursor: pointer;
  border: none;
  background-color: #ffff;
  -webkit-text-fill-color:  #548D40;
  width: 166px; 
  padding-top:10px;
  padding-bottom: 10px;
  border-radius: 4px;
  font-size:20px;
  font-family: 'Red Hat Text', sans-serif;
}

.align{
  margin-left: 50px;
  align-items: center;
}
.buttonWrapper{
  margin-top: 20px;
  margin-left: 50px;
}
.plane{
  margin-left: 880px;
  cursor: pointer;
}

.hugetext{
  margin-left: 250px;
  font-size: 180px;
  -webkit-text-stroke: 5px #ffff;
  -webkit-text-fill-color: transparent;
}
.calendar{
  border: none;
  margin-left: 250px;
  margin-top: 20px;
  background: #fff;
  width: 166px; 
  padding-top:10px;
  padding-bottom: 10px;
  border-radius: 4px;
  text-align: center;
  font-size: 16px;
  font-family: 'Red Hat Text', sans-serif;
  -webkit-text-fill-color:  #548D40;
  ;

}

@media only screen and (max-width: 1024px) {
 .header{
  font-size: 30px;
 }
 .hugetext{
  margin-left: 10px;
  font-size: 100px;
 
}
.arrow{
  width: 100px;
}
.plane{
  margin-left: 550px;
  cursor: pointer;
  -webkit-text-stroke: 1px #ffff;
  -webkit-text-fill-color: transparent;
}
.calendar{
  width: 30%;
  margin-left: 10px;
  font-family: 'Red Hat Text', sans-serif;
  -webkit-text-fill-color:  #548D40;
}
.buttonWrapper{
  margin-left: 10px;
}
}

@media only screen and (max-width: 900px) {
  .header{
    font-size: 20px;
   }
   .hugetext{
    margin-left: 10px;
    font-size: 50px;
    -webkit-text-stroke: 1px #ffff;
    -webkit-text-fill-color: transparent;
   
  }
  .arrow{
    width: 50px;
  }
  .plane{
    margin-left: 400px;
    cursor: pointer;
  }
  .calendar{
  
    margin-left: 10px;
    font-family: 'Red Hat Text', sans-serif;
    -webkit-text-fill-color:  #548D40;
  }
  .buttonWrapper{
    margin-left: 10px;
  }
}
@media only screen and (max-width: 400px) {
  .header{
    font-size: 15px;
    margin-left: 20px;
   }
   .hugetext{
    margin-left: 10px;
    font-size: 50px;
    -webkit-text-stroke: 1px #ffff;
    -webkit-text-fill-color: transparent;
   
  }
  .arrow{
    width: 50px;
  }
  .plane{
    margin-left: 200px;
    cursor: pointer;
  }
  .calendar{
    
    margin-left: 10px;
    font-family: 'Red Hat Text', sans-serif;
    -webkit-text-fill-color:  #548D40;
  }
  .buttonWrapper{
    margin-left: 10px;
  }
}

@media only screen and (max-width: 414px) {

  .header{
    font-size: 16px;
    margin-left: 20px;
   }
   .hugetext{
    margin-left: 10px;
    font-size: 50px;
    -webkit-text-stroke: 1px #ffff;
    -webkit-text-fill-color: transparent;
   
  }
  .arrow{
    width: 50px;
  }

  .planemob{
    display: block;
    margin-left: 300px;
    cursor: pointer;
  }
  .plane{
    display: none;
  }
  .calendar{
    width: 35%;
    margin-left: 10px;
    font-family: 'Red Hat Text', sans-serif;
    -webkit-text-fill-color:  #548D40;
  }
  .buttonWrapper{
    margin-left: 10px;
  }
}
.boxContainer{
display: flex;
}