@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Text:ital,wght@1,500&display=swap');


.coming{
  color: #fff;
  position: fixed;
	top: 10px;
	width: 100%;
	text-align: center;
	z-index: 100;
	display:block;
  margin-top: 400px;
  font-family: 'Red Hat Text', sans-serif;
}

.header{
  font-size: 1.875rem;
}
.fall{
  font-size: 3.75rem;
}