@import url('https://fonts.googleapis.com/css2?family=Boogaloo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@700&display=swap');
.container{
  color: white;
  margin-left: 100px;
  display: flex;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 82%;
  margin-left: auto;
  margin-right: auto;
  height: 5rem;
}

.name{
  margin-top :20px;
  font-family: 'Space Grotesk', sans-serif;
  font-size: 1.5em;
}

.buttonWrapper{
  margin-top: 20px;
 
}

.button{
  cursor: pointer;
  border: none;
  background-color: #0057FF;
  color: #ffff;
  width: 166px; 
  padding-top:10px;
  padding-bottom: 10px;
  border-radius: 8px;
  font-size:24px;
  font-family: 'Boogaloo', cursive;
}

.donation {
  position: absolute;
  top: 50%;
  left: 50%;
  right: 50%;
  transform: translateX(-50%) translateY(-50%);;
  z-index: 9999;
  height: min(70vh, 637px);
  width: min(90vw, 429px);
  border: none
}
