@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Paytone+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Text:ital,wght@1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
  background: linear-gradient(
      144.89deg,
      rgba(114, 186, 88, 0.8) 20.64%,
      rgba(91, 185, 239, 0.8) 90.74%
    )
    no-repeat;
  height: 100%;
}

.g-heading {
  background: linear-gradient(94.2deg, #5bb9ef 12.65%, #72ba58 75.53%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.g-bg {
  background: linear-gradient(94.2deg, #5bb9ef 12.65%, #72ba58 75.53%);
}

.g-bg-reverse {
  background: linear-gradient(
    118.01deg,
    rgba(114, 186, 88, 0.9409) -1.24%,
    rgba(91, 185, 239, 0.97) 100%
  );
}

.text-outline-bold {
  -webkit-text-stroke: 4px white;
}

.text-outline {
  -webkit-text-stroke: 1px white;
}

.text-h {
  font-size: min(6.5vw, 39px);
}

.text-h-xl {
  font-size: min(11vw, 57px);
}

.text-sh {
  font-size: min(6vw, 25px);
}

.text-sh-xl {
  font-size: min(7vw, 50px);
}

.text-h-p {
  font-size: min(5vw, 30px);
}

.text-h-xxxl {
  font-family: 'Paytone One', sans-serif;
  font-size: min(22vw, 142.8px);
  line-height: 1;
}

.text-why{
  font-family: 'Paytone One', sans-serif;
  font-size: 38.27px;
}

.text-bold-why{
  font-size: 82px;
  }

  .text-design{

    font-style: italic;
    font-size: 26.6px;
    font-family: 'Red Hat Text', sans-serif;
  }

  .p-design{
  font-size: 17.96px;
  font-family: 'Roboto', sans-serif;
  }

  .text-faq{
  font-size: 60px;
  font-family: 'Paytone One', sans-serif;
  }

  .faq{
  font-size: 21px;
  }

 .thank{
 font-size: 28.7px;
 }

 .spon{
  font-family: 'Paytone One', sans-serif;
  font-size: 47.08px;
 }